/* Hero section wrapper */
.hero {
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main hero heading text */
.hero-text {
  font-family: var(--font-heading);
  font-size: var(--fs-xxl);
  color: var(--color-gold);
  z-index: 10;
  text-shadow: 0 0 12px rgba(255, 215, 0, 0.7);
}
